.gym{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    background-color: aquamarine;
}

.gatitos {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: indianred;
}

nav{
    padding: 10px 10px 10px 10px;
}


img {
    width: 25%;
}
video{
    width: 30%
}
audio{
    padding-top: 5px;
}

.invoice{
    background-color: white;
    border-collapse: collapse;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: 0 auto;
    
}

th,td {
    padding: 10px;
    border: 1px black solid;
}

th{
    background-color:lightgrey;
    
}

.direccion{
    padding-right: 10px;
}